body {
  font-family:'Poppins', sans-serif; ;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #181823;
}

.container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #fc7300(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 90%;
  padding: 1rem;
  margin-top: 5px;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 1em 0;
  background-color: #eff5f5;
  color: #000000;
  border-color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

input:hover {
  background-color: #d9a9f5;
}

#resultado {
  margin-top: 20px;
  text-align: center;
}
