body {
  margin: 0; /* Elimina los márgenes predeterminados del body */
  display: flex; /* Convierte el body en un contenedor flexible */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  background-color:#181823 ;
  height: 100vh; /* Establece la altura del body al 100% del viewport para centrar el contenido verticalmente */
}

.main-block {
  background: #1f8a70;
  padding: 60px;
  width: 400px; /* Establece el ancho del formulario */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.left-part {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.left-part i {
  font-size: 30px;
  margin: 0 10px;
}

h1 {
  margin-bottom: 20px;
}

.info input,
.info textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #ccc;
}

button {
  background: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
