
.titulo {
    display: flex;
    margin: auto;
    width: 80%; 
    padding: 1rem 0;
    text-align: center;
    justify-content: center;
    background: #181823;
    color: #eff5f5;
    text-shadow: 1px 1px 1px #fc7300;
}

.container{
    display: flex;
    margin: auto;
    width: 80%; 
    padding: 1rem 0;
    justify-content: center;
}

nav {
    display: flex;
    margin: auto;
    width: 80%; 
    padding: 1rem 0;
    justify-content: center;

}
/* contenedor 1 de quienes somos */
.contenedor{
    
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
    height: auto;
}

.quienes{
    text-align: justify;
  
}

.p1{
    text-align: center; 
    text-align: justify;
}

.img-fluid {
    width: 100%;
    /* Las imágenes ocupan el 100% del ancho de sus contenedores */
    height: auto;
    /* La altura se ajusta proporcionalmente según el ancho para mantener la relación de aspecto original */
}

.margen{
    margin-top: 2rem;
}
/* seccion de redes */
.red {
    width: 100%;
    list-style-type: none;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 1rem;
}

.redes {
    display: flex;
    /* Convierte los elementos li en contenedores flexibles */
    align-items: center;
    /* Centra verticalmente los elementos dentro del li */
    margin-bottom: 10px;
    /* Espacio entre cada elemento li */
    
}

li img {
    margin-right: 10px;
    /* Espacio entre el icono y el texto (ajusta este valor según tu preferencia) */
}

.row .col-lg-3 {
    flex-basis: 25%;
    /* Cada columna ocupa el 25% del ancho de la fila (4 columnas en total) */
    max-width: 25%;
    /* Evita que las imágenes se desborden de la columna */
}

/* SECCIÓN DE FOOTER */
footer {
    background-color: #eff5f5;
    /* Las imágenes ocupan el 100% del ancho de sus contenedores */
    height: auto;
    display: flex;
    margin: auto;
    width: 80%; 
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
}
